@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Merriweather+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Catamaran, sans-serif;
    font-weight: 300;
    color: rgb(45, 36, 36);
}

/* Headings and logo */

h1, h2 {
    font-family: Catamaran, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: coral;
}

#logo {
    float: left;
    font-size: 250%;
}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 1px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

/* main image */

#main-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

#main-image {
    height: 500px;
    width: 100%;
    background-image: url(../images/main-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    /* zoom effect on loading page */
    animation-name: main-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* level of zoom for main image */

@keyframes main-zoom {
    from{
        transfrom: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}