@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Merriweather+Sans:wght@300&display=swap');

/* asterisk to override default styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Catamaran, sans-serif;
    font-weight: 300;
    color: rgb(45, 36, 36);

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Headings and logo */

h1,
h2 {
    font-family: Catamaran, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgb(12, 12, 12);
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 20px;

}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 1px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

/* main image and cover text*/

#main-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text,
#cover-text h2 {
    color: black;
}

#main-image {
    height: 500px;
    width: 100%;
    background-image: url(../images/main-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    /* zoom effect on loading page */
    animation-name: main-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* level of zoom for main image */

@keyframes main-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 90%;
    font-family: Catamaran, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;

    width: 300px;
    height: 150px;

    padding-top: 20px;
    padding-left: 10px;

    background-color: rgb(241, 228, 228);
    opacity: 0.8;

    bottom: 20px;
    right: 20px;

    position: absolute;
}

#welcome h1 {
    color: coral;
    text-align: center;
    font-size: 180%;
    margin-top: 30px;
}

#welcome {
    height: 500px;
}

.welcome-box {
        width: 80%;
        padding: 30px;
        border: 2px solid rgb(17, 11, 11);
        margin-top: 25px;
        margin-bottom: 75px;
        margin-right: 50px;
        margin-left: 10%;

        border-radius: 10px;
        
}

#welcome-text {

    width: 50%;
    font-size: 120%;
    text-align: center;

    margin-left: 25%;
    margin-top: 25px;
    
}

#paw {
    text-align: center;
    font-size: larger;
    margin-top: 50px;
    letter-spacing: 10px;
}

/* make main content push footer down */

section {

    flex: 1 0 auto;

}