@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Merriweather+Sans:wght@300&display=swap');

/* asterisk to override default styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Catamaran, sans-serif;
    font-weight: 300;
    color: rgb(45, 36, 36);

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Headings and logo */

h1,
h2 {
    font-family: Catamaran, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #A0522D;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 20px;

}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 1px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: #A0522D;
}

#menu a:hover {
    border-bottom: 1px solid #A0522D;
}

.active {
    border-bottom: 1px solid #A0522D;
}

/* main image and cover text*/

#main-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text,
#cover-text h2 {
    color: #A0522D;
}

#main-image {
    height: 500px;
    width: 100%;
    background-image: url(../images/main-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    /* zoom effect on loading page */
    animation-name: main-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* level of zoom for main image */

@keyframes main-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 90%;
    font-family: Catamaran, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;

    width: 300px;
    height: 150px;

    padding-top: 20px;
    padding-left: 10px;

    background-color: rgb(241, 228, 228);
    opacity: 0.8;

    bottom: 20px;
    right: 20px;

    position: absolute;
}

#welcome h1 {
    color: #A0522D;
    text-align: center;
    font-size: 180%;
    margin-top: 30px;
}

#welcome {
    height: 500px;
}

.welcome-box {
    width: 80%;
    padding: 30px;
    border: 3px double black;
    margin-top: 25px;
    margin-bottom: 75px;
    margin-right: 50px;
    margin-left: 10%;
}

#welcome-text {

    width: 50%;
    font-size: 120%;
    text-align: center;

    margin-left: 25%;
    margin-top: 25px;

}

#paw {
    text-align: center;
    font-size: larger;
    margin-top: 50px;
    letter-spacing: 10px;
}

/* make main content push footer down */

section {
    flex: 1 0 auto;
}

/* Cat benefits section */

#cat-benefits {
    height: 500px;
    font-size: 110%;
}

#benefits-left {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#benefits-right {
    padding-top: 30px;
    width: 33%;
    float: right;

}

#benefits-center {
    width: 33%;
    margin: 0 auto;

}

hr {
    border-top: 1px solid black;
    width: auto;
    margin: 4px 0;
}

.benefits-left-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.benefits-right-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}
.benefits-right-heading h3 {
    text-align: right;
}

.benefits-right-heading p {
    text-align: right;
}

#benefits-header {
    text-align: center;
    margin: 30px 0;
    font-size: 180%;
}

/* Circle container for image in health benefits section */

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
    
}

#circle-cover {
    background: url('../images/benefits-image.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* Rules section */

#house-rules h2 {
    color: #A0522D;
    text-align: center;
    font-size: 180%;
    margin-top: 30px;
}

#house-rules-text li {
    list-style-type: none;
}

#house-rules-text {
    width: 50%;
        font-size: 120%;
        text-align: justify;
    
        margin-left: 25%;
        margin-top: 25px;
    
}